pkgbase = zenbook-duo-systools
	pkgdesc = System tools for Asus Zenbook Duo: keyboard backlight, display layout, and power profile
	pkgver = 1.0.0
	pkgrel = 1
	install = src/zenbook-duo-systools.install
	arch = x86_64
	arch = aarch64
	license = custom
	depends = bash
	depends = sudo
	depends = kscreen
	depends = power-profiles-daemon
	optdepends = libnotify: notify-send notifications
	optdepends = networkmanager: nmcli (optional)
	backup = etc/zenbook-duo/duo.conf
	source = duo.sh::file:///home/maz/zenbook-duo-linux/src/duo.sh
	source = duo.conf::file:///home/maz/zenbook-duo-linux/src/duo.conf
	source = zenbook-duo-systools.service::file:///home/maz/zenbook-duo-linux/src/zenbook-duo-systools.service
	source = zenbook-duo-systools-user.service::file:///home/maz/zenbook-duo-linux/src/zenbook-duo-systools-user.service
	source = zenbook-duo-systools.sleep::file:///home/maz/zenbook-duo-linux/src/zenbook-duo-systools.sleep
	source = sudoers-zenbook-duo-systools::file:///home/maz/zenbook-duo-linux/src/sudoers-zenbook-duo-systools
	source = zenbook-duo-systools.install::file:///home/maz/zenbook-duo-linux/src/zenbook-duo-systools.install
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zenbook-duo-systools
