pkgbase = zenbook-duo-systools
	pkgdesc = ASUS Zenbook Duo event matrix, Fn-key, display, power, lid, and tray helpers
	pkgver = 1.3
	pkgrel = 6
	url = https://github.com/nekropolit/zenbook-duo-linux-systools
	install = zenbook-duo-systools.install
	arch = x86_64
	license = MIT
	makedepends = npm
	makedepends = rust
	depends = bash
	depends = bluez-utils
	depends = glib2
	depends = gtk3
	depends = inotify-tools
	depends = kscreen
	depends = libayatana-appindicator
	depends = libinput
	depends = libnotify
	depends = networkmanager
	depends = power-profiles-daemon
	depends = python-evdev
	depends = python-pyusb
	depends = qt6-tools
	depends = sudo
	depends = systemd
	depends = usbutils
	depends = webkit2gtk-4.1
	provides = zenbook-duo-linux-systools-sysstates=1.3
	provides = zenbook-duo-linux-systools-fnkeys=1.3
	provides = zenbook-duo-systools-fnkeys=1.3
	conflicts = zenbook-duo-systools-fnkeys
	conflicts = zenbook-duo-linux-systools-sysstates
	conflicts = zenbook-duo-linux-systools-fnkeys
	replaces = zenbook-duo-systools-fnkeys
	replaces = zenbook-duo-linux-systools-sysstates
	replaces = zenbook-duo-linux-systools-fnkeys
	backup = etc/zenbook-duo/duo-sysstates.conf
	backup = etc/zenbook-duo/fnkeys.conf
	backup = etc/sudoers.d/zenbook-duo-systools
	backup = etc/sudoers.d/zenbook-duo-systools-fnkeys

pkgname = zenbook-duo-systools
