[Unit]
Description=Zenbook Duo system power tools
After=multi-user.target
ConditionPathExists=/usr/bin/zenbook-duo-systools

[Service]
Type=oneshot
ExecStart=/usr/bin/zenbook-duo-systools power
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
