[Unit]
Description=Zenbook Duo system power and lid policy
After=multi-user.target
ConditionPathExists=/usr/bin/zenbook-duo-systools

[Service]
Type=simple
ExecStart=/usr/bin/systemd-inhibit --what=handle-lid-switch --why=Zenbook-Duo-lid-policy /usr/bin/zenbook-duo-systools service
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
